*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font-family: 'Jost', sans-serif;
}

.container{
    max-width: 1200px;
}

/* Header */
#header {
    height: 100px;
    position: fixed;
    z-index: 20;
    top: 0;
    left: 0;
    right: 0;
    margin: 0 auto;
    border-bottom: 1px solid rgba(231, 231, 231, 0.18);
}

#header.sticky{
    padding: 0px;
    background-color: #fff;
    height: 80px;
    border-bottom: none;
    box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    display: flex;
    align-items: center;
}

#header.sticky .navbar-brand{
    color:#3f3a64;
}

#header.sticky .navbar-dark .navbar-nav .nav-link{
    color: #3f3a64;
    opacity: 0.7;
}

#header.sticky .navbar-dark .navbar-nav .nav-link.active{
    color: #009f4d;
    opacity: .9;
}

#header.sticky .header__navbar-search .icon-moon,
#header.sticky .header__navbar-search .icon-sun{
    color: #3f3a64;
    opacity: 0.9;
}

#header .navbar-brand i{
    color: #009f4d;
    vertical-align: middle;
    font-size: 30px;

}

#header .navbar-brand{
    font-size: 2rem;
    font-weight: 600;
}

.navbar-dark .navbar-toggler-icon{
    background-image: none;
}

#header .navbar-brand span{
    text-transform: none;
    display: block;
    font-size: 14px;
    padding-left: 46px;
    font-weight: 600;
    opacity: .9;
    transform: translateY(-3px);
}



#header .dropdown-toggle::after{
    display: none;
}

#header .header__navbar-search{
    display: flex;
    align-items: center;
}

#header .header__navbar-search .icon-search{
    width: 45px ;
    height: 45px;
    background-color: #009f4d;
    line-height: 45px;
    text-align: center;
    border-radius: 50%;
    color: #fff;
}

#header .header__navbar-search .icon-moon,
#header .header__navbar-search .icon-sun{
    color:#eee;
    width: 20px;
    height: 20px;
    font-size: 24px;
    transform: rotate(345deg);
}



#header .navbar-collapse{
    justify-content: space-between;
}

.navbar-expand-lg .navbar-nav{
    flex: 1;
    justify-content: center;
}

#header .navbar-dark .navbar-nav .nav-link{
    transition: all 0.5s ease;
    font-size: 15px;
    font-weight: 600;
    color: #fff;
    opacity: .8;
    text-transform: uppercase;
    padding: 14px 0 10px 0 ;
}

#header .navbar-dark .navbar-nav .nav-link > i{
    font-size: 12px;
    vertical-align: middle;
    margin-top: -3px;
}

#header .navbar-dark .navbar-nav .nav-item{
    padding: 0 10px;
}

#header .navbar-dark .navbar-nav .nav-item:hover .nav-link{
    opacity: 1;

}

#header .navbar-dark .navbar-nav .nav-link.active{
    color: #fff;
    opacity: 1;

}

#header .dropdown-menu{
    transform: translateX(-50px);
    background: #fff;
    border: 1px solid #eee;
    border-radius: 8px;
    padding: 16px 0;
    width: 192px;
}

#header .dropdown-menu::before{
    content: "";
    width: 14px;
    height: 14px;
    position: absolute;
    top: -7px;
    left: 49%;
    background-color: #fff;
    border: 1px solid #eee;
    border-right: none;
    border-bottom: none;
    display: block;
    transform: translateX(-50%) rotateZ(45deg);
}

#header .dropdown-menu .dropdown-item{
    font-size: 15px;
    color: #3f3a64;
    opacity: .8;
    font-weight: 600;
    padding: 6px 20px;
    text-transform: uppercase;
    transition: all .5s;
}

#header .dropdown-item.active,#header .dropdown-item:active{
    background-color: transparent;
}


#header .dropdown-item:focus,#header .dropdown-item:hover{
    color: #00a63f;
    opacity: 1;
}

/* Carousel */
#carousel{
}

#carousel .carousel-caption h3{
    font-size: 65px;
    line-height: 1.1;
    margin-bottom: 18px;
    max-width: 800px;
    font-weight: 600;
}

#carousel .carousel-caption p{
    margin-bottom: 0;
    font-size: 20px;
    line-height: 30px;
    max-width: 600px;
    color: #fff;
    letter-spacing: 0.010rem;
    opacity: .9;
}

#carousel .carousel-caption{
    text-align: left;
    top: 50%;
    transform: translateY(-50%);
    left: 8%;
}

#carousel .carousel-item > img{
    min-height: 800px;
    width: 100%;
}

#carousel .carousel-caption a{
    text-decoration: none;
    margin-top: 30px;
    display: inline-block;
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: 8px;
    background-color: #00a63f;
    border:1px solid #00a63f;
    color: #fff;
}

#carousel .carousel-caption a:hover{
    background-color: #008030;
    border:1px solid #00732c;
}

#carousel .carousel-control-prev{
    right: 95px;
    left: initial;
}

#carousel .carousel-control-next{
    right: 25px;
    left: initial;
}

#carousel .carousel-control-next,#carousel .carousel-control-prev{
    bottom: 50px;
    background-color: #fff;
    width: 50px;
    height: 50px;
    z-index: 12;
    outline: none;
    border-radius: 100%;
    box-shadow: 0 0 15px rgb(0 0 0 / 12%);
    border: 1px solid transparent;
    opacity: 1;
    top:initial;
}

#carousel .carousel-control-next i,#carousel .carousel-control-prev i{
    color: #3f3a64;
}

#carousel .shape{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
}

#carousel .shape path{
    fill: #fff;
}

#carousel .carousel-item .overlay{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #1d2a37b3;
}

/* About Us */
#about__us{
    padding: 48px 0;
}

#about__us .about__us-left span,
#feature .feature-left span{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;

}

#about__us .about__us-left h3,
#feature .feature-left h3,
#service h3{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
}

#about__us .about__us-left p,
#feature .feature-left p{
    color:#666;
    font-size: 17px;
    line-height: 27px;
    opacity: .8;
    margin-bottom: 0;
}

#about__us .about__us-left ul {
    list-style-type: none;
}

#about__us .about__us-left ul li{
    margin-bottom: 15px;
    display: block;
}

#about__us .about__us-left ul li a{
    font-size: 18px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    text-decoration: none;
}

#about__us .about__us-left ul li a i{
    color: #009f4d;
    margin-right: 5px;
    opacity: .8;
}

#about__us .about__us-right img{
    border-radius: 8px;
}

/* Feature */
#feature{
    padding: 48px 0;
    background-color: #f7f7f7;
}

#feature .feature-left p{
    margin: 0;
}

#feature .feature-left .btn-style{
    padding: 15px 50px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
    transition: 0.3s ease-in;
    border-radius: 8px;
}

#feature .feature-right .feature-item{
    /* width: 50%; */
    text-align: center;
    padding: 40px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    background-color: #fff;
    transform: translateY(0);
    transition: all .3s ease;

}

#feature .feature-right .feature-item:hover{
    transform: translateY(-0.25rem);
    box-shadow: rgb(46 41 51 / 8%) 0px 2px 4px, rgb(71 63 79 / 16%) 0px 5px 10px;
}


#feature .feature-right .feature-wrap{
    width: 50%;
}

#feature .feature-right .feature-wrap:nth-child(1),
#feature .feature-right .feature-wrap:nth-child(3){
    padding-right: 25px;
}

#feature .feature-right .feature-wrap:nth-child(1),
#feature .feature-right .feature-wrap:nth-child(2){
    padding-bottom: 25px;
}

#feature .feature-right .feature-item h4 a{
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
    margin-top: 25px;
    display: block;
    color: #3f3a64;
    text-decoration: none;
    transition: all .5s;
}

#feature .feature-right .feature-item h4 a:hover{
    color: #009f4d;

}


/* Service */
#service{
    padding: 48px 0;
}

#service .card{
    border-color: transparent;
}

#service .card .card-body{
    padding: 0 20px;
}

#service .card-img-top{
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

#service .card .card-body .card-title{
    transition: all .5s;
}

#service .card:hover .card-body .card-title{
    color: #009f4d;
}

#service .card-body .card-title{
    font-size: 19px;
    line-height: 28px;
    font-weight: 600;
    color: #3f3a64;
    text-align: center;
    background: #fff;
    padding: 12px 35px;
    display: inline-block;
    border: 1px solid transparent;
    border-radius: 8px;
    transform: translateY(-25px);
    box-shadow: rgb(1 1 1 / 5%) 1px 1px 5px 0px;
    text-decoration: none;
}

#service .card-body .card-text{
    font-size: 17px;
    line-height: 27px;
    color: #666;
    opacity: .8;
    margin-top: -22px;
}

#service .card-footer{
    background-color: transparent;
    border-color: transparent;
    padding: 0;
}

#service .card-footer .btn-style{
    padding: 8px 35px;
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;
    transition: 0.3s ease-in;
    color: #3f3a64;
    border-radius: 8px;
}

#service .card-footer .btn-style:hover{
    color: #009f4d;
}

/* Gallery */
#gallery{
    padding: 48px 0;
    background-color: #f8f9fa;
}

#gallery .gallery__title span{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}

#gallery .gallery__title h3{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
    margin: 0;
}

#gallery .gallery__list .gallery_item{
    position: relative;
    text-decoration: none;
    overflow: hidden;
}

#gallery .gallery__list .gallery_item:hover{

    overflow: hidden;
}

#gallery .gallery__list .gallery_item .overlay{
    position: absolute;
    top:0;
    left: 0;
    height: 100%;
    width: 100%;
    background: #1d2a37b3;
    transition: all .3s;
    opacity: 0;
    z-index: 1;
    overflow: hidden;


}

#gallery .gallery__list .gallery_item:hover .overlay{
    opacity: 1;
    overflow: hidden;

}

#gallery .gallery__list .gallery_item .gallery__item-content{
    position: absolute;
    bottom: -100%;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all .5s;
    padding: 46px 50px;
    color: #fff;
    z-index: 2;

}

#gallery .gallery__list .gallery_item:hover .gallery__item-content{
    opacity: 1;
    bottom: 0;
    visibility: visible;
}

#gallery .gallery__list .gallery_item .gallery__item-content h1{
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    margin-bottom: 10px;
}

#gallery .gallery__list .gallery_item .gallery__item-content p{
    margin: 0;
    font-size: 18px;
    color: #eee;
}

#gallery .gallery__list .gallery_item img{
    transition: 0.3s ease-in-out;
  
}

#gallery .gallery__list .gallery_item:hover img{
    transform: scale(1.1);
}

#gallery .gallery__logo{
    border-top: 1px solid #eee;
}

#gallery .gallery__logo img{
    padding: 0 18px;
}

.lb-data .lb-close{
    background-image: url(../image/close.png);
}

.lb-nav a.lb-prev{
    background-image: url(../image/prev.png);
}

.lb-nav a.lb-next{
    background-image: url(../image/next.png);
}

.lb-data .lb-caption {
    font-size: 16px;
    line-height: 1.8em;
    color: #fff;
    font-weight: 600;
}

.lb-data .lb-number {
    display: block;
    clear: left;
    padding-top: 1em;
    font-size: 1em;
    color: #009f4d;
}
/* Progress */
 #progress .progress{
    height: 4px;
    background-color: #f7f7f7;
    position: relative;
    overflow: visible;
}
#progress img.radius-image{
    border-radius: 8px;
}
#progress .title__progress{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
    display: block;
}
#progress .title-big{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}
#progress .progress-info{
    margin-bottom: 30px;
}

#progress .progress-info .progress-tittle{
    display: flex;
    align-items: center;
    width: 80%;
    justify-content: space-between;
    
}
#progress .progress-info .progress-tittle .progress-tittle-text,
#progress .progress-info .progress-tittle .progress-tittle-number
{
    
    font-size: 18px;
    color: #3f3a64;
    margin-bottom: 10px;
    font-weight: 400;
}

#progress .progress-bar.gradient-1 {
    color: #61fded;
    background-color: #0d8abc;
    background-image: linear-gradient(-224deg, #0d8abc, #61fded);
}
#progress .progress-bar.gradient-1::before{
    content: "";
    position: absolute;
    right: 20%;
    top: 50%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    width: 13px;
    height: 13px;
    color: #61fded;
    border: 3px solid;
    background-color: #fff;
}
#progress .progress-bar.gradient-1::after{
    content: "";
    position: absolute;
    right: 20%;
    top: 50%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .5;
    color: #61fded;
}

#progress .progress-bar-striped{
    background-size: cover;
}
#progress .progress-info .progress-tittle2{
    display: flex;
    align-items: center;
    width: 95%;
    justify-content: space-between;
}
#progress .progress-bar.gradient-2{
    color: #eece90;
    background-color: #d45529;
    background-image: linear-gradient(-224deg, #d45529, #eece90);
}
#progress .progress-bar.gradient-2::before{
    content: "";
    position: absolute;
    right: 5%;
    top: 50%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    width: 13px;
    height: 13px;
    color: #eece90;
    border: 3px solid;
    background-color: #fff;
}
#progress .progress-bar.gradient-2::after{
    content: "";
    position: absolute;
    right: 5%;
    top: 50%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .5;
    color: #eece90;
}
#progress .progress-info .progress-tittle3{
    display: flex;
    align-items: center;
    width: 60%;
    justify-content: space-between;
}
#progress .progress-bar.gradient-3{
    color: #5c51ff;
    background-color: #f646a9;
    background-image: linear-gradient(-224deg, #f646a9, #5c51ff);
}

#progress .progress-bar.gradient-3::before{
    content: "";
    position: absolute;
    right: 40%;
    top: 50%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    width: 13px;
    height: 13px;
    color: #5c51ff;
    border: 3px solid;
    background-color: #fff;
}
#progress .progress-bar.gradient-3::after{
    content: "";
    position: absolute;
    right: 40%;
    top: 50%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .5;
    color: #5c51ff;
}
#progress .progress-info .progress-tittle4{
    display: flex;
    align-items: center;
    width: 85%;
    justify-content: space-between;
}
#progress .progress-bar.gradient-4{
    color: #e5529a;
    background-color: #e77654;
    background-image: linear-gradient(-224deg, #e77654, #e5529a);
}

#progress .progress-bar.gradient-4::before{
    content: "";
    position: absolute;
    right: 15%;
    top: 50%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    width: 13px;
    height: 13px;
    color: #e5529a;
    border: 3px solid;
    background-color: #fff;
}
#progress .progress-bar.gradient-4::after{
    content: "";
    position: absolute;
    right: 15%;
    top: 50%;
    border-radius: 50%;
    transform: translate(50%, -50%);
    height: 28px;
    width: 28px;
    border: 1px solid;
    opacity: .5;
    color: #e5529a;
}
/* LATEST NEWS  */
#news .news-up{
    text-align: center;
}
#news .card{
    background: none;
    box-shadow: 0 25px 98px 0 rgb(0 0 0 / 4%);
    border: 1px solid #00000000;
}
#news .card .card-lock{
    display: block;
    overflow: hidden;
    border-radius: 8px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
    
}
#news .card .imgZoom{
   
    display: block;
    transform: scale(1);
    transition: 0.3s ease-in-out;
    overflow: hidden;
}
#news .card:hover .imgZoom{
    transform: scale(1.1);
    
}

#news .news-up h5{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}
#news .news-up h3{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}
#news .news-down .card-title{
    font-weight: 400;
    font-size: 17px;
    color: #999;
    text-decoration: none;
}
#news .news-down .card-text{
    display: block;
    font-size: 20px;
    line-height: 28px;
    font-weight: 600;
    color:#3f3a64; 
    margin-top: 10px;
    text-decoration: none;
}
#news .news-down .card-text:hover{
    color: #009f4d;
}
#news .card-footer{
    background: #fff;
    border-top: 1px solid #eee;
    border-radius: 0 0 calc(0.25rem - 1px) calc(0.25rem - 1px);
    display: flex;
    justify-content:space-between;
    align-items: center;
}
#news .card-footer img{
    margin-right: 8px;
}
#news .card-footer ul{
    list-style: none;
    margin: 0;
    flex: 1;

}
#news .card-footer ul li span{
color: #666;
font-size: 15px;
font-weight: 600;
opacity: .6;
}
#news .card-footer ul li a{
font-size: 16px;
color: #3f3a64;
font-weight: 600;
line-height: 26px;
text-transform: capitalize;
text-decoration: none;
transition: all 0.5s;
}
#news .card-footer ul li a:hover{
   
    color: #009f4d;
    
    }
#news .card-footer .date p{
    font-size: 15px;
    color: #666;
    margin: 0;
    opacity: .7;
}
/* SUBSCRIBE */
#subscribe{
    background-image: url(../image/map.png);
    background-color: #151421;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}
#subscribe .sub-wrap{
    max-width: 700px;
    margin: 0 auto;
}
#subscribe .sub-up{
    text-align: center;
}
#subscribe .sub-up h3{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #fff;
}
#subscribe .sub-up p{
    color: #eee;
    font-size: 17px;
    line-height: 27px;
    opacity: .8;
}
#subscribe .sub-dow {
    
    max-width: 550px;
    margin: 0 auto;
}
#subscribe .sub-dow .sub-dow-form{
    display: flex;
}
#subscribe .sub-dow i{
    color: #999;
    width: 50px;
    height: 58px;
    text-align: center;
    line-height: 58px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    background-color: rgba(0, 0, 0, 0.25);
    border-color: rgba(255, 255, 255, 0.15);
    padding: 0 15px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}
#subscribe .sub-dow input{
    padding: 14px 20px;
    font-size: 16px;
    line-height: 28px;
    border: 1px solid #eee;
    outline: none;
    width: 100%;
    background: var(--bg-color);
    border-radius: 0;
    color: #999;
    background-color: rgba(0, 0, 0, 0.2);
    border-color: rgba(255, 255, 255, 0.15);
    border-left: none;
}
#subscribe .sub-dow button{
    border-radius: 8px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    padding: 0 27px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 600;
}
/* FOOTER */
#footer{
    background: #151421;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
}

#footer .logo a {
    text-decoration: none;
}
#footer .logo a i{
    color: #009f4d;
    margin-right: 5px;
    vertical-align: sub;
    font-size: 30px;
}
#footer .logo a .logo-up{
    margin: 0;
    padding: 0;
    font-size: 30px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    opacity: 1;
}
#footer .logo a .logo-dow{
    display: block;
    padding-left: 46px;
    font-size: 14px;
    font-weight: 600;
    opacity: .9;
    color: #fff;
}
#footer .text p{
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: .8;
    margin: 0;
}
#footer .icon a{
    text-decoration: none;
}
#footer .icon a i{
    margin-right: 15px;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    background: none;
    border-radius: 50%;
    transition: 0.3s;
    color: #97a1a9;
    opacity: .6;
}
#footer .icon a i:hover{
    color: white;
    opacity: 1;
    
}
#footer .footer-title h1{
    font-size: 22px;
    line-height: 28px;
    margin-bottom: 25px;
    font-weight: 400;
    color: #fff;
    text-transform: uppercase;
    letter-spacing: .5px;
}
#footer .footer-text p{
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: .8;
    margin-bottom: 8px;
}
#footer .footer-text p a{
    font-size: 18px;
    line-height: 28px;
    color: #97a1a9;
    opacity: .8;
    text-decoration: none;
    transition: all 0.5s;
}
#footer .footer-text p a:hover{
    color: #fff;
    opacity: 1;
}
/* coppy right */

.copy-right{
    padding: 24px 0;
    border-top: 1px solid rgba(249, 249, 249, 0.1);
    background-color: #151421;
    
}

.copy-right .container p{
    color: #7f8a94;
    font-size: 17px;
    letter-spacing: .5px;
    opacity: 1;
    text-align: center;
    margin: 0;
}
.copy-right .container p a{
    font-size: 18px;
    line-height: 28px;
    color: #009f4d;
    opacity: .8;
    text-decoration: none;
    transition: all 0.5s;
}
.copy-right .container p a:hover{
    color: #fff;
    opacity: 1;
}
#backToTop .btn-home{
    width: 50px;
    height: 50px;
    background-color: #009f4d;
    outline: none;
    border: none;
    border-radius: 50%;
    text-align: center;
    line-height: 50px;
    color: #fff;
    position: fixed;
    right: 20px ;
    bottom: 20px;
}
.cd-top{
      visibility: hidden;
      opacity: 0;
  }

.cd-top--is-visible { 
    visibility: visible;
    opacity: 1;
}
  
.cd-top--fade-out { 
    opacity: 1;
}


/* FEEDBACK */
#feedback{
    background-color: #f8f9fa;
}

#feedback h5{
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 30px;
    letter-spacing: 1px;
    color: #7e7d7d;
}

#feedback h3{
    font-size: 35px;
    line-height: 45px;
    font-weight: 700;
    color: #3f3a64;
}

#feedback .owl-carousel{
    max-width: 900px;
    margin: 0 auto;
    padding: 40px 30px;
    height: 316px;
}

#feedback .owl-carousel .item blockquote{
    font-size: 18px;
    font-weight: 400;
    line-height: 28px;
    margin-bottom: 24px;
    color: #666;
    opacity: .8;
    text-align: center;
}


#feedback .owl-carousel .item .item-img{
    width: 70px;
    height: 70px;
    display: inline-block;
    overflow: hidden;
    background: #fff;
    border-radius: 50%;
    margin-right: 20px;
}

#feedback .owl-carousel  .item .item-information .item-text h3{
    font-weight: 600;
    font-size: 20px;
    color: #3f3a64;
    margin: 0;
    line-height: 1.2;

}

#feedback .owl-carousel  .item .item-information .item-text p{
    margin-bottom: 0;
    opacity: 0.8;
    font-size: 17px;
    line-height: 27px;
    color: #666;
}


#feedback .owl-dots {
    text-align: center;
    position: absolute;
    margin-top: 30px;
    bottom: 0;
    left: 0;
    right: 0;
}

#feedback .owl-dots .owl-dot{
    padding: 1px 6px !important;
    outline: none;
}

.owl-carousel .owl-dots .owl-dot span{
    background: #213364;
    opacity: .5;
    width: 10px;
    height: 10px;
    border-radius: 50%;
    display: inline-block;
    margin: 5px 2px;
    transition: all .3s;
}

.owl-carousel .owl-dots .owl-dot.active span{
    background: #213364;
    opacity: 1;
    transform: scale(1.5);
}

/* Responsive */

@media screen and (max-width:768px) {
    .container{
        max-width: 720px;
    }
    #header .header__navbar-search{
        display: none;
    }
    .navbar-dark .navbar-toggler-icon{
        font-size: 20px;
        color: #fff;
        line-height: 34px;
        background-image: none;
        width: 34px;
        height: 34px;
        
    }
    .navbar-dark .navbar-toggler{
        background: #009f4d;
        border-radius: 4px;
        text-align: center;
        padding: 0;
        
    }
    .navbar-nav{
        text-align: center;
        width: 100%;
        padding: 20px 0 0px;
    }
    #header{
        height: auto;
        padding: 20px 0;
    }
    #header.active{

        background-color: #000000b3;
    }
    #header .dropdown-menu{
        transform: translateX(0px);
        background: #fff;
        border: 1px solid #eee;
        border-radius: 8px;
        width: 100%;
        text-align: center;
    }

    #header.sticky{
        height: auto;
        padding: 15px 0;
        background-color: #fff;
        border-bottom: none;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    }

    #header.active .navbar-collapse.collapse.show  .header__navbar-search{
        display: block;
        position: absolute;
        top: 20px;
        right: 65px;
    }

    #header.sticky .navbar-collapse.collapse.show  .header__navbar-search{
        display: block;
        position: absolute;
        top: 20px;
        right: 65px;
    }
    #header .navbar-dark .navbar-nav .nav-link > i{
        float: right;
    }
    .navbar{
        padding-top: 0;
        padding-bottom: 0;
    }

    #carousel .carousel-caption h3{
        font-size: 45px;
    }

    
}


@media screen and (max-width:992px){
    .container{
        max-width: 720px;
    }
    .navbar-dark .navbar-toggler-icon{
        font-size: 20px;
        color: #fff;
        line-height: 34px;
        background-image: none;
        width: 34px;
        height: 34px;
        
    }
    .navbar-dark .navbar-toggler{
        background: #009f4d;
        border-radius: 4px;
        text-align: center;
        padding: 0;
        
    }
    .navbar-nav{
        text-align: center;
        width: 100%;
        padding: 20px 0 0px;
    }
    #header{
        height: auto;
        padding: 20px 0;
    }
    #header.active{

        background-color: #000000b3;
    }
    #header .dropdown-menu{
        transform: translateX(0px);
        background: #fff;
        border: 1px solid #eee;
        border-radius: 8px;
        width: 100%;
        text-align: center;
    }

    #header.sticky{
        height: auto;
        padding: 15px 0;
        background-color: #fff;
        border-bottom: none;
        box-shadow: 0 3px 6px 0 rgb(0 0 0 / 5%);
    }

    #header.active .navbar-collapse.collapse.show  .header__navbar-search{
        display: block;
        position: absolute;
        top: 20px;
        right: 65px;
    }

    #header.sticky .navbar-collapse.collapse.show  .header__navbar-search{
        display: block;
        position: absolute;
        top: 20px;
        right: 65px;
    }
    #header .navbar-dark .navbar-nav .nav-link > i{
        float: right;
    }
    .navbar{
        padding-top: 0;
        padding-bottom: 0;
    }
    #carousel .carousel-caption h3{
        font-size: 50px;
    }
    #carousel .carousel-item > img{
        min-height: 700px;
    }
    #about__us .about__us-left h3, #feature .feature-left h3, #service h3,
    #feedback h3,#news .news-up h3,
    #subscribe .sub-up h3{
        font-size: 32px !important;
        line-height: 40px;
    }
    #feedback .owl-carousel .item .item-information .item-text h3{
        margin: 0;
        font-weight: 600;
        font-size: 20px !important;
    }
    #footer .footer-title h1{
        margin-bottom: 20px;
        font-size: 20px;
    }
    
}

@media screen and (max-width:576px){
    #header .navbar-brand{
        font-size: 26px;
    }
    #header.active .navbar-collapse.collapse.show  .header__navbar-search{
        display: block;
        position: absolute;
        top: 15px;
        right: 65px;
    }

    #header.sticky .navbar-collapse.collapse.show  .header__navbar-search{
        display: block;
        position: absolute;
        top: 15px;
        right: 65px;
    }

    #header .navbar-dark .navbar-nav .nav-link{
        padding: 6px 0;
    }
    #header .navbar-dark .navbar-nav .nav-link > i{
        float: right;
    }
    .navbar{
        padding-top: 0;
        padding-bottom: 0;
    }
    #carousel .carousel-caption h3{
        font-size: 27px;
    }
    #carousel .carousel-item > img{
        min-height: 550px;
    }
    #carousel .carousel-caption{
        left: 0; 
        width: 100%;
        padding: 0 15px;
    }
    #carousel .carousel-caption p{
        font-size: 18px;
        line-height: 28px;
    }
    #carousel .carousel-caption a,#feature .feature-left .btn-style{
        padding: 12px 30px;
    }
    #about__us .about__us-left h3, #feature .feature-left h3, #service h3,
    #progress .title-big,#feedback h3{
        font-size: 24px !important;
        line-height: 30px;
    }
    #feature .feature-right .feature-item .icon img{
        width: 45px;
    }
    #feature .feature-right .feature-item h4 a{
        font-size: 18px;
        margin-top: 15px;
    }
    #feature .feature-right .feature-item{
        padding: 24px 16px;
    }

    #gallery .gallery__logo img{
        padding: 0 2px;
    }

    #feedback .owl-carousel{
        
    }
    #feedback .owl-dots{
        position: inherit;
    }

    #feedback{
        padding-bottom: 96px !important;
    }
}


/* background dark */
#myBody{
    background-color: #fff;
}

#myBody.dark{
    background-color: #151421;
}

#myBody #header .header__navbar-search .icon-sun{
    display: none;
}

#myBody #header .header__navbar-search .icon-moon{
    display: block;
}

#myBody.dark #header .header__navbar-search .icon-sun{
    display: block;
}

#myBody.dark #header .header__navbar-search .icon-moon{
    display: none;
}

#myBody.dark #header.sticky{
    background-color: #151421;
}

#myBody.dark #header.sticky .navbar-brand{
    color: #fff;
}

#myBody.dark #header.sticky .header__navbar-search .icon-sun{
    color: #fff;
}

#myBody.dark #header.sticky .navbar-dark .navbar-nav .nav-link{
    color: #eee;
    opacity: 0.7;
}

#myBody.dark #header.sticky .navbar-dark .navbar-nav .nav-link.active{
    color: #009f4d;
    opacity: .9;
}

#myBody.dark .shape path{
    fill: #151421;
}

#myBody.dark #about__us .about__us-left h3, 
#myBody.dark #feature .feature-left h3,
#myBody.dark #service h3{
    color: #eee;
}

#myBody.dark #about__us .about__us-left p,
#myBody.dark #feature .feature-left p{
    color: #c2c2c2;
}

#myBody.dark #about__us .about__us-left ul li a{
    color: #eee;
}

#myBody.dark #feature{
    background-color: #100f19;
}

#myBody.dark #feature .feature-right .feature-item{
    background-color: #151421;
}

#myBody.dark #feature .feature-right .feature-item h4 a{
    color: #eee;
}
#myBody.dark #feature .feature-right .feature-item h4 a:hover{
    color: #009f4d;
}

#myBody.dark .card{
 background-color: #151421;   
}

#myBody.dark #service .card-body .card-title{
    background-color: #151421;
    border-color: #ffffff33;
    color: #eee;
}

#myBody.dark #service .card:hover .card-body .card-title{
    color: #009f4d;

}

#myBody.dark #service .card-body .card-text{
    color: #c2c2c2;
}

#myBody.dark #service .card-footer .btn-style{
    color: #eee;
}

#myBody.dark #gallery{
    background-color: #100f19;
}

#myBody.dark #gallery .gallery__title h3{
    color: #eee;
}

#myBody.dark #gallery .gallery__logo{
    
    border-color:#ffffff1a ;
}

#myBody.dark #progress .title-big{
    color: #eee;
}

#myBody.dark #progress .progress-info .progress-tittle .progress-tittle-text, 
#myBody.dark #progress .progress-info .progress-tittle .progress-tittle-number{
    color: #eee;
}

#myBody.dark #progress .progress{
    background-color: #100f19;
}

#myBody.dark #progress .progress-info .progress-tittle2{
    color: #eee;

}

#myBody.dark #progress .progress-info .progress-tittle3{
    color: #eee;

}

#myBody.dark #progress .progress-info .progress-tittle4{
    color: #eee;

}

#myBody.dark #progress .progress-bar.gradient-1::before,
#myBody.dark #progress .progress-bar.gradient-2::before,
#myBody.dark #progress .progress-bar.gradient-3::before,
#myBody.dark #progress .progress-bar.gradient-4::before{
    background-color: #100f19;

}

#myBody.dark #feedback{
    background-color: #100f19;

}

#myBody.dark #feedback h3{
    color: #eee;
}
#myBody.dark #feedback .owl-carousel .item blockquote{
    color: #c2c2c2;
}

#myBody.dark #news .news-up h3{
    color: #eee;

}

#myBody.dark #news .card{
    border-color: #ffffff33;
}

#myBody.dark #news .news-down .card-text{
    color: #eee;
}

#myBody.dark #news .news-down .card-text:hover{
    color:#009f4d;
}

#myBody.dark #news .card-footer{
    background-color: #151421;
    border-color: #ffffff1a;
}

#myBody.dark #news .card-footer ul li span,
#myBody.dark #news .card-footer .date p{
    color: #c2c2c2;
}


#myBody.dark #news .card-footer ul li a{
    color: #eee;
}

#myBody.dark #news .card-footer ul li a:hover{
    color: #009f4d;
}

#switchButton{
    display: inline-block;
}